{% extends "template.html" %}

{% block content %}

<div style="padding-top:20px">
    <div class="col-12">
        <div class="row">
            <div class="offset-lg-2 col-lg-8">
                <div class="card">
                    <div class="card-header bg-dark text-light">
                        <h3>
                            <span>Team Members</span>
                            <button type="button" class="btn btn-floating pull-right btn-primary" data-toggle="modal" data-target="#editTeamMember">
                                <span>Add</span>
                                <i class="fa fa-plus"></i>
                            </button>
                        </h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Preference</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for team_member in data %}
                                <tr>
                                    <td>{{team_member.name}}</td>
                                    <td>{{team_member.preference.name}}</td>
                                    <td width="20%">
                                        <a class="btn btn-floating btn-danger pull-right" style="margin-left: 5px" href="#">
                                            <span>Delete</span>
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <button class="btn btn-floating btn-primary pull-right update-modal" data-toggle="modal" data-target="#editTeamMember" data-teamMemberName="{{team_member.name}}" data-teamMemberPreference="{{team_member.preference.id}}" data-teamMemberId="{{team_member.id}}">
                                            <span>Edit</span>
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editTeamMember" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-light">
                <h5 class="modal-title">Add Team Member</h5>
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="edit_team_member" class="needs-validation" method="POST">
                <input type="hidden" name="id" class="team-member-id" value="0">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-lg-3" for="teamMemberName">Name</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control required team-member-name" id="teamMemberName" name="teamMemberName" placeholder="e.g. John Smith" value="{{teamMemberName}}">
                        </div>
                        <div class="offset-lg-3 col-lg-9 helper" style="display: none">
                            <span class="text-danger">Name Required</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3" for="teamMemberPreference">Preference</label>
                        <div class="col-lg-9">
                            <select class="form-control required team-member-preference" id="teamMemberPreference" name="teamMemberPreference">
                                <option value="" disabled selected>Select Preference</option>
                                {% for drink in drink_options %}
                                <option value="{{drink.id}}">{{drink.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="offset-lg-3 col-lg-9 helper" style="display: none">
                            <span class="text-danger">Preference Required</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-floating btn-danger mr-auto close-modal" data-dismiss="modal" onclick="return false;">
                        <span>Cancel</span>
                        <i class="fa fa-times"></i>
                    </button>
                    <button type="submit" class="btn btn-primary btn-floating ml-auto">
                        <span>Confirm</span>
                        <i class="fa fa-check"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}